body {
		background: #fafafa;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #333;
}

.hero-unit {
		margin: 0 auto;
		max-width: 300px;
		font-size: 18px;
		font-weight: 200;
		line-height: 30px;
		background-color: #eee;
		border-radius: 6px;
		padding: 60px;
}

.hero-unit h1 {
		font-size: 60px;
		line-height: 1;
		letter-spacing: -1px;
}
.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

#tooltip {
	text-align: center;
	color: #34495e;
	background: white;
	position: absolute;
	z-index: 10000;
	padding: 15px;
	font-family: arial;
	box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.7);
}


#tooltip:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
}


#tooltip.top:after {
	border-top-color: transparent;
	border-bottom: 10px solid white;
	top: -20px;
	bottom: auto;
}


#tooltip.left:after {
	left: 10px;
	margin: 0;
}


#tooltip.right:after {
	right: 10px;
	left: auto;
	margin: 0;
}

[rel="tooltip"] {
	position: relative;
}
input,textarea, select, button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
label {
	padding: 5px;
}

#ajaxloader2 {
	margin: 30px auto 0;
}
#ajaxloader2 .outer {
	border: 5px solid rgba(0, 183, 229, 0.9);
	opacity: .9;
	width: 50px;
	height: 50px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
	-moz-box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
	box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
	-webkit-animation: spin-right 1s 0 linear infinite normal;
	-moz-animation: spin-right 1s 0 linear infinite normal;
	-ms-animation: spin-right 1s 0 linear infinite normal;
	animation: spin-right 1s 0 linear infinite normal;
	margin: 0 auto;
}
#ajaxloader2 .inner {
	display: block;
	width: 30px;
	height: 30px;
	border: 5px solid rgba(0, 183, 229, 0.9);
	opacity: .9;
	border-radius: 50%;
	border-left-color: transparent;
	border-bottom-color: transparent;
	-webkit-box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
	-moz-box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
	box-shadow: 0 0 35px rgba(0, 61, 76, 0.9);
	position: relative;
	top: -40px;
	margin: 0 auto;
	-webkit-animation: spin-left 1s 0 linear infinite normal;
	-moz-animation: spin-left 1s 0 linear infinite normal;
	-ms-animation: spin-left 1s 0 linear infinite normal;
	animation: spin-left 1s 0 linear infinite normal;
}
@keyframes spin-right {
	from {
		transform: rotate(0deg);
		opacity: 0.2;
	}
	50% {
		transform: rotate(180deg);
		opacity: 1.0;
	}
	to {
		transform: rotate(360deg);
		opacity: 0.2;
	}
}
@-moz-keyframes spin-right {
	from {
		-moz-transform: rotate(0deg);
		opacity: 0.2;
	}
	50% {
		-moz-transform: rotate(180deg);
		opacity: 1.0;
	}
	to {
		-moz-transform: rotate(360deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes spin-right {
	from {
		-webkit-transform: rotate(0deg);
		opacity: 0.2;
	}
	50% {
		-webkit-transform: rotate(180deg);
		opacity: 1.0;
	}
	to {
		-webkit-transform: rotate(360deg);
		opacity: 0.2;
	}
}
@keyframes spin-left {
	from {
		transform: rotate(0deg);
		opacity: 0.2;
	}
	50% {
		transform: rotate(-180deg);
		opacity: 1.0;
	}
	to {
		transform: rotate(-360deg);
		opacity: 0.2;
	}
}
@-moz-keyframes spin-left {
	from {
		-moz-transform: rotate(0deg);
		opacity: 0.2;
	}
	50% {
		-moz-transform: rotate(-180deg);
		opacity: 1.0;
	}
	to {
		-moz-transform: rotate(-360deg);
		opacity: 0.2;
	}
}
@-webkit-keyframes spin-left {
	from {
		-webkit-transform: rotate(0deg);
		opacity: 0.2;
	}
	50% {
		-webkit-transform: rotate(-180deg);
		opacity: 1.0;
	}
	to {
		-webkit-transform: rotate(-360deg);
		opacity: 0.2;
	}
}
