<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<!--<p><button id="fullscreenTest" class="btn btn-primary btn-large">Go Fullscreen</button>-->
	<!--</p><p><span id="status"></span></p>-->
	<div class="well">
		<p>Play a button clicking game! OH BOY!</p><p>Score will persist on refresh. WHAT??? Nooo. WHAT??? Nooo.</p>
		<p><button id="scoreBtn" class="btn btn-primary">Score! <span id="scoreDisplay" class="badge"></span></button></p>
	</div>
	<div class="well">
		<p>I'm another div with the 'well' class made to cause confusion for testers. HAHAHAHAHA.</p>
	</div>
</div>


<div class="body-content">
	<div class="row">
		<button class="btn btn-primary" rel="tooltip" title="OH NO YOU DIDN'T">Click me, I dare ya!</button>
	</div>
	<!-- Example row of columns -->
	<div class="row">

		<table>
			<thead>
			<tr><th></th></tr>
			</thead>
		</table>
	</div>

	<hr>
</div>